<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PDF View</title>
        <script type="text/javascript" src="pkg/pdf_view.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <canvas id="canvas" tabindex="0"></canvas>
        <script type="text/javascript" src="index.js"></script>
        <div id="drop">
            <input type="file" id="file-selector" onchange="show(event.target.files[0])"></input>
            <p id="msg">loading …</p>
            <div id="banner"><a href="https://github.com/pdf-rs/pdf/">Code</a></div>
        </div>
    </body>
</html>
